* {
	margin: 0;
	padding: 0;
	outline: none;
	
	
}

body {
font-size:18px;
font-family: sans-serif;
outline: none;

/* Gradiente de pagina*/
background: #B7C9D9 !important;
background: -moz-linear-gradient(top, #B7C9D9 0%, #FFFFFF 100%) !important;; /* en firefox */	
background: -webkit-gradient(linear, left top, left bottom, color-stop(5%,#B7C9D9), color-stop(100%,#FFFFFF)) !important; /* Degradado de color del fondo */
background: gradient(linear, left top, left bottom, color-stop(0%,#B7C9D9), color-stop(100%,#FFFFFF)) !important;

background-attachment: fixed !important;
}

#Tabla_Principal {
background-color: #EEEEEE; /*Color Gris de fondo del el banner*/
border-style: double;	
border-radius: 10px;
border-color: #96B4CE;
margin: 0 auto ;
width: 90%;
	}

#Tabla_Principal h2{ /* Nombre del sistema (Banner)*/
margin-left: 10px;
margin-right: 10px;
	}
	
#img_Logo_Escuela{ /* Logo De la Escuela Del Banner*/
width: 125px;
height: 120px;
margin: 0 auto ;
border-radius: 10px;
border-color: #96B4CE;
border-style:groove;
display: block;	
	}
	
#img_Logo_Ministerio{ /* Logo Del Ministerio Banner*/
height: 77px;
margin: 0 auto;
border-style: double;
border-radius: 10px;
border-color: #96B4CE;
width: 90%;
display:block;


}

#Menu_Vertical{

float: left;
margin-left: 5%;
margin-top: -15px;

}

#contenido_central{
margin-top: 5px;

}

#contenido_central #img_centro{ /* Imagen Transparente de Centro.*/
margin-top: 5px;
width: 320px;
max-width: 100%;
min-width: 30%;
margin: 0 auto;
margin-left: 250px;
position: relative;
border-radius:  30px;
 opacity: 0.5;
}

/*  Inicio del Menu Lateral*/


div.Menu_Lateral {
  margin: 20px auto;
  width: 300px;
}

p {
  font-family: georgia; 
  font-size: 12px;
  line-height: 25px;
  margin: 24px 0;
  text-align: center;
}

nav.vertical {
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,.15);
  overflow: hidden;
  text-align: center;
}
  nav.vertical > ul {
    list-style-type: none;
  }

    nav.vertical > ul > li {
      display: block;
    }

  nav.vertical > ul > li > label > .a1{ /* Inicio Y Salir del Menu lateral*/
        background: -webkit-radial-gradient(rgb(255, 255, 255),rgb(171, 200, 228));
        background-image: -moz-radial-gradient(rgb(255, 255, 255),rgb(171, 200, 228));
        background: radial-gradient(rgb(255, 255, 255),rgb(171, 200, 228));
        border-bottom: 1px solid rgba(255,255,255,.1);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.1), 0 1px 1px rgba(0,0,0,.1);
        text-decoration: none;
        color: #000;
        display: block;
        }

nav.vertical > ul > li > label > .a1:hover{ /* Hover Del Inicio Y Salir del menu*/
        background-image: -webkit-radial-gradient(rgb(255, 255, 255),rgb(151, 181, 210));
        background-image: -moz-radial-gradient(rgb(255, 255, 255),rgb(151, 181, 210));
        background-image: radial-gradient(rgb(255, 255, 255),rgb(151, 181, 210));
        border-radius: 20px;
        border-color: #fff;
        color: #000;
        cursor: pointer;
        font-weight: bold;
        padding-bottom: -10px auto;
}

     nav.vertical > ul > li > label, /* Menu Lateral Desplegable al clic*/
      nav.vertical > ul > li > a {
        
        background: -webkit-radial-gradient(rgb(255, 255, 255),rgb(171, 200, 228));
        background-image: -moz-radial-gradient(rgb(255, 255, 255),rgb(155, 200, 222));
        background: radial-gradient(rgb(255, 255, 255),rgb(171, 200, 228));
        border-bottom: 1px solid rgba(255,255,255,.1);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.1), 0 1px 1px rgba(0,0,0,.1);
        color: #000;
        display: block;
        font-size: .85rem;
        font-weight: 500;
        letter-spacing: 5px;
        height: 50px;
        line-height: 50px;
        text-shadow: 0 1px 1px rgba(0,0,0,.1);
        text-transform: uppercase;
        font-weight: bolder;

        transition: all .1s ease;
      }
        nav.vertical > ul > li > label:hover,
        nav.vertical > ul > li > a:hover {

       background-image: -webkit-radial-gradient(rgb(255, 255, 255),rgb(151, 181, 210));
        background-image: -moz-radial-gradient(rgb(255, 255, 255),rgb(151, 181, 210));
        background-image: radial-gradient(rgb(255, 255, 255),rgb(151, 181, 210));
        color: #000;
        cursor: pointer;
        border-radius: 20px;
        margin-bottom: 1px;
        padding-bottom: -10px auto;

        }

        nav.vertical > ul > li > label + input {
          display: none;

         
        }
      nav.vertical > ul > li > label > #a1{

  text-decoration: none;
  color: black;
}
     

        
          nav.vertical > ul > li > div {
            background-color: rgb(255,255,255);
            max-height: 0;
            overflow: hidden;
            transition: all .5s linear;

          }
         

            nav.vertical > ul > li > label + input:checked + div {
              max-height: 500px;
            }
 

            nav.vertical > ul > li > div > ul{
          
          }

          nav.vertical > ul > li > div > ul:hover > li{
            list-style-type: none;
          }


            nav.vertical > ul > li > div > ul > li > a {
             background-color: rgb(255,255,255);
             border-bottom: 1px solid rgba(0,0,0,.05);
             color: #333331;
             display: block;
             font-size: 1.1rem;
             padding: 10px 0;
             text-decoration: none;
             transition: all 0.20s linear;
            }

              nav.vertical > ul > li > div > ul > li:hover > a {
                background-color: #97B5D2;
                color: rgb(255,255,255);
                padding: 10px 0 10px 50px;
              }

              /* Fin Del Menu Lateral*/


              