#contenido_central{

margin-top: 5px;


}

#contenido_central #img_construccion{
margin: 0 auto;
width: 92%;
height: 61%;
margin-right: 50px;
border-style: double;
border-color: #96B4CE;
border-radius:  20px;
}